body{
	margin:0;
}

#inputs{
	width:100%;
	
}
.form-control{
	width:80%;
}

#res_card{
	background-color:white;
}

.input{
	margin-top:1rem;
	margin-left:10%;
	margin-right:10%;
	padding:1.5rem 2.5rem;
	font-size: 1rem;
	width:80%;
	
}

#submit{
	padding:1.5rem;
	background-color:#59abe3;
	border:1px solid #3498db;
	color:white;
	margin-left:10%;
	margin-right:10%;
}

.title{
	font-size:0.8rem;
	color:#000;
	font-weight: 500;
}
