body{
	
	margin:0;
}

#inputs{
	display: inline-block;
}

.input{
	margin-top:1rem;
	margin-left:2rem;
	padding:1.5rem;
}

#submit{
	padding:0.4rem 0.9rem;
	background-color:#59abe3;
	border:1px solid #3498db;
	color:white;
}

span{
	font-size:1rem;
	color:#000;
	font-weight: 500;
}
