/* ----------------------------------
* Toolbars
* ---------------------------------- */

[role="toolbar"] {
  height: 3rem;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #2574a9;
}

[role="toolbar"] ul:first-child {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  width:49.6%;
  border-right:1px solid white;
}

[role="toolbar"] ul:last-child {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  width:49.99%;
}

[role="toolbar"] li {
  height:100%;
  width:100%;
  text-align:center;
  line-height:3rem;
}

[role="toolbar"] a {
    display:block;
	font-size:1.3rem;
	color:white;
	text-decoration: none;
}

[role="toolbar"] a:hover {
  background-color: #1e8bc3;
}